<!DOCTYPE html>
<html>
<body> 
<table>


<h1>Transaction Details</h1>
<form  method="get" id="transaction details">
<tr>
<td><input type="int" name=" Loan Amount" placeholder="Enter Loan Amount" "/></td>
<tr>
<tr>
<td> <input type="year" name="Duration of Loan" placeholder="Enter Duration of Loan" "/> </td>
</tr>
<tr>
<td> <input type="persentage" name="rate of intrest" placeholder="Enter rate of interest(%)"/> </td>
</tr>
<tr>
<td> <input type="date" name="Transaction Date" placeholder="Transaction Date" "/> </td>
</tr>
<tr>
<td><button> <a href="/result/">submit</a></button></td>
</form>
</tr>

</table>
</body>
</html>
